{{extend 'layout.html'}}

<h1>Case: {{=case['title']}}</h1>
<table>
<tr><td>Id: </td>
	<td>{{=case['id']}}</td>
</tr>
<tr><td>Title:</td>
	<td>{{=case['title']}}</td>
</tr>
<tr><td>Description:</td>
	<td>{{=case['description']}}</td>
</tr>
<tr><td>Priority: </td>
	<td>{{=case['priority']}}</td>
</tr>
<tr><td>Status: </td>
	<td>{{=case['status']}}</td>
</tr>
<tr><td>Assigned To:</td>
	<td>{{=case['assigned_to']}}</td>
</tr>
<tr><td>Created Time:</td>
	<td>{{=case['created_time']}}</td>
</tr>
<tr><td>Last Modified By: </td>
	<td>{{=case['last_modified_by']}}</td>
</tr>
<tr><td>Last Modified Time: </td>
	<td>{{=case['last_modified_time']}}</td>
</tr>
</table>

<h3>Create a new note</h3>
{{=noteform}}

<h3>Earlier Notes</h3>
{{for note in notes:}}
	<p>at {{=note['created_time']}}, {{=note['author']}} said:<br/>
	{{=note['body']}}</p>
{{pass}}