{{extend 'layout.html'}}

<h1>Edit Case: {{=case['title']}}</h1>
{{=caseform}}

<h3>Notes</h3>
{{=A('Create a new note', _href=URL(r=request, f="addnotes", args=[case['id']]))}}

{{for note in notes:}}
	<p>at {{=note['created_time']}}, {{=note['author']}} said:<br/>
	{{=note['body']}}</p>
{{pass}}
