{{extend 'layout.html'}} <div class="center"> <p>Y-A-T-S-Y is a free & open-source <a
href="http://en.wikipedia.org/wiki/Help_Desk" target="_blank">heldesk</a> / <a
href="http://en.wikipedia.org/wiki/Service_Desk_(ITSM)" target="_blank">service desk</a> application
for <a href="http://code.google.com/appengine/" target="_blank">Google AppEngine</a>.</p> <p>Code, downloads and instructions are hosted in <a href="http://code.google.com/p/y-a-t-s-y/" target="_blank">Google
code</a>.</p> 
<p><strong>Moving around this demo site:</strong> There are three users defined in this demo instance. User (userid: user@example.com password: web2py), Agent (user id: agent@example.com password: web2py) & Admin (user id: admin@example.com password: web2py). All three users can create a case / ticket and check its status. Admin can assign tickets and Agent can work on it. More info can be found in <a href="http://code.google.com/p/y-a-t-s-y/" target="_blank">Google Code</a>.</p>
<p>If you want to pass on comment, feel free to <a href="http://www.jjude.com/contact/" target="_blank">contact me</a>. Yes! I do keep a <a href="http://www.jjude.com" target="_blank">blog</a>.</p>
</div>