{{extend 'layout.html'}}

<h1>Cases that I created:</h1>
<table id='mycases'>
<thead>
<tr>
<th>Id</th><th>Title</th><th>Description</th><th>Priority</th><th>Status</th><th>Created Time</th><th>Last Modified By</th><th>Last Modified Time</th>
</tr>
</thead>
{{for case in mycases:}}
<tr>
	<td>{{=A(case['id'], _href=URL(r=request, f="addnotes", args=[case['id']]))}}</td>
	<td>{{=case['title']}}</td>
	<td>{{=case['description']}}</td>
	<td>{{=case['priority']}}</td>
	<td>{{=case['status']}}</td>
	<td>{{=case['created_time']}}</td>
	<td>{{=case['last_modified_by']}}</td>
	<td>{{=case['last_modified_time']}}</td>
</tr>
{{pass}}
</table>