{{extend 'layout.html'}}

<h1>Cases assigned to me:</h1>
<table>
<thead>
<tr>
<th>Id</th><th>Title</th><th>Description</th><th>Priority</th><th>Status</th><th>Created By</th><th>Created Time</th>
</tr>
</thead>
{{for case in workitems:}}
<tr>
	<td>{{=A(case['id'], _href=URL(r=request, f="editcase", args=[case['id']]))}}</td>
	<td>{{=case['title']}}</td>
	<td>{{=case['description']}}</td>
	<td>{{=case['priority']}}</td>
	<td>{{=case['status']}}</td>
	<td>{{=case['created_by']}}</td>
	<td>{{=case['created_time']}}</td>
</tr>
{{pass}}
</table>